.operation-container {
    margin-top: 8px;
    width: 100%;
    padding: 0 16px;
    background: #F4F4F5;
    .flex-align-item-center;
    .flex-justify-content-space-between;
    height: 0;
    overflow: hidden;
    transition: all .3s;

    &.visible {
        height: 48px;
    }
}
