.shutdown-tips-css {
    .flex-justify-content-flex-start;
    margin-bottom: 10px;

    &.deleteCss {
        margin-bottom: 0;
    }

    svg {
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-top: 2px;
    }

    span {
        font-size: 13px;
    }
}

.confirm-tips {
    .danger {
        color: var(--error-color);
        font-weight: 700;
    }
}

.delay-container {
    padding-left: calc(24px + 10px);
}
