.first-progress-container {
    height: 100%;
    .flex-justify-content-space-between;
    flex-direction: column;
    .flex-justify-content-space-between;
    padding: 24px;

    .tip-title {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #1E2A3D;
        line-height: 22px;
    }

    .top {
    }

    .bottom {
        align-self: flex-end;
    }

    .manual-item-content {
        margin: 10px 0;
        background: #1E2A3D;
        padding: 10px;
        font-size: 14px;

        :global {
            .ant-typography {
                .flex-justify-content-space-between;
                color: #FFF;
                font-family: Consolas;
                line-height: 22px;
                margin-bottom: 0;
                word-break: break-all;
            }

            .ant-typography-copy {
                align-self: flex-end;
            }
        }
    }
}
