.filter-column-container {
    position: relative;
    :global {
        .ant-tooltip {
            padding-top: 0;
            .ant-tooltip-content {
    
                .ant-tooltip-inner {
                    color: red !important;
                    padding: 8px;
                    padding-left: 16px;
                }
    
                .ant-tooltip-arrow {
                    display: none !important;
                }
            }
        }
    }
}
