.sub-operation-collection {
    background-color: #FFF;
    padding-bottom: 10px;

    .title {
        .flex-justify-content-space-between;
    }

    .button {
        height: 24px;
        font-size: 12px;

        &:hover {
            background: #ECEDF0;
            border-radius: 4px;
            font-weight: 400;
            color: @primary-color;
            line-height: 20px;
        }
    }

    .division {
        width: 1px;
        height: 16px;
        background: #E9EAEC;
    }

    .filter-button {
        width: 32px;
        height: 32px;
        .flex-align-item-center;
        .flex-justify-content-center;

        color: #1E2A3D;

        &.active {
            background: #4D545E;
            border-color: #4D545E;

            > svg {
                color: #FFF;
            }
        }
    }
}
