.update-button {
    margin-left: 5px !important;
    height: 24px;
    width: 24px;
    line-height: 30px !important;
    border-radius: 4px;

    &.disabled {
        cursor: not-allowed;

        svg {
            color: #bcbcbc;
        }
    }

    svg {
        width: 16px;
        color: var(--theme-primary-color);
        height: 16px;
    }
}
