.sa-container {
    .flex-justify-content-space-between;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .main {
        flex: 1;
        overflow: auto;
        padding: 16px;
        height: 100%;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.prod-sa-container {
    height: calc(~'100vh - 49px')
}

.side-bar-layout {
    width: 20px;
}