.main-title {
    .flex-justify-content-space-between;
    margin-bottom: 24px;

    > .title {
        height: 32px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        color: #1E2A3D;
        margin-left:8px;
    }
}

:global {
    .agent-select-menu {
        white-space: nowrap;
    }
}
