.expand {
    margin-bottom: 20px;

    > span {
        cursor: pointer;
    }
}

.icon {
    font-size: 12px;
    margin-right: 5px;

    &.rotate {
        transform: rotate(180deg);
    }
}

.group-container {
    .group-button-container;
}
