.agent-config-container {
    // width: 680px;
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(9, 30, 66, 0.2500), 0 0 1px 0 rgba(9, 30, 66, 0.3100);
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

    &:hover {
        cursor: pointer;

        transform: translate(0, -5px);
        transition-delay: 0s;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
        color: #1E2A3D;
        line-height: 24px;
    }

    .content {
        .flex-justify-content-flex-start;
        flex-wrap: wrap;

        .info-item {
            flex: 1;
            min-width: 50%;
            font-size: 14px;
            font-weight: 400;
            line-height: 36px;
            .flex-justify-content-flex-start;

            .label-css {
                color: #4D545E;
                min-width: 100px;
            }

            .value-css {
                color: #1E2A3D;
                flex: 1;
                .flex-justify-content-flex-start;
                .flex-align-item-center;

                .status-box {
                    width: 80px;
                    height: 8px;
                    .flex-justify-content-flex-start;
                    .flex-align-item-center;

                    .status-icon {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                }

                .agent-version-css {
                    display: flex;

                    .icon-css {
                        cursor: pointer;

                        &.active-icon {
                            color: var(--theme-primary-color);
                        }
                    }


                    > span {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
