.name-label {
    .flex-align-item-center;

    .icon {
        margin-left: 4px;
        svg {
            width: 16px;
            height: 16px;
        }
        .flex-justify-content-flex-start;
        .flex-align-item-center;
    }
}
