.third-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 38px;

    > .top {
        flex: 1;
        text-align: center;
        .flex-justify-content-center;
        .flex-align-item-center;

        .inner {
            > .success-icon {
                font-size: 40px;
                color: #3cb381;
                margin-bottom: 12px;
            }

            > .tips {
                text-align: center;

                > .title {
                    font-size: 20px;
                    font-weight: 500;
                    color: #2E405E;
                    margin-bottom: 2px;
                }

                > .tip {
                    font-size: 14px;
                    font-weight: 400;
                    color: #878C96;
                }
            }
        }
    }

    > .bottom {
        align-self: flex-end;
    }
}
