.variable-type-list-select,
.time-out-input,
.noah-textarea {
    width: 100% !important;
}

.group-container {
    .group-button-container;
}

:global {
    .execute-script-drawer {
        .ant-drawer-header-title {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
