.default-footer-container {
    margin-top: 20px;
    display: flex;

    :global {
        .button {
            padding: 0 25px !important;
        }

        .submit-button {
            margin-right: 20px !important;
        }
    }
}

.formik-container {
    display: flex;
    flex-direction: column;

    :global {
        .ant-collapse-arrow {
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}
