.icon {
    font-size: 16px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    .flex-justify-content-flex-start;
    .flex-align-item-center
}

.error-message {
    svg {
        fill: var(--error-color);
    }
}
