.check-agent-list-container {

    margin-bottom: 10px;
    margin-left: 34px;

    .tips {
        margin-bottom: 10px;

        .collapse-button {
            font-size: 12px
        }
    }
    :global {
        .ant-table-thead {
            .ant-table-cell {
                background: #FFF;
                white-space: nowrap;
                font-size: 12px;
                font-weight: 600;
                color: #878C96;
                line-height: 20px;
            }
        }
    }
}
