.tooltip-content {
    width: 100%;

    :global {
        .custom-select-all {
            min-width: calc(50% - 8px);
        }

        .ant-checkbox-group {
            .ant-checkbox-group-item {
                min-width: calc(50% - 8px);
                line-height: 32px;
                margin-right: 12px;
            }
        }
    }
}
