.exec-view-step-header-container {
    display: flex;
    margin-top: -10px;
    margin-bottom: 15px;
    justify-content: space-between;

    .exec-view-step-header {
        color: #6F7783;
        font-size: 14px;

        &-content {
            &-text {
                font-weight: 600;
                color: #1E2A3D;
            }
        }
    }
}

.execute-status {
    &.status-1 {
        color: rgba(92, 137, 247);
    }

    &.status-2 {
        color: rgba(182, 110, 38);
    }

    &.status-3 {
        color: rgba(236, 98, 64);
    }

    &.status-4 {
        color: rgba(99, 176, 52);
    }

    &.status-5 {
        color: rgba(178, 181, 187);
    }
}

.exec-view-step-content {
    :global {
        .ant-steps-item-title {
            width: 100%;
        }

        .ant-steps-item-tail {
            left: 16px !important;
        }

        .ant-steps-item-tail::after {
            width: 2px !important;
            background-color: #D8D8D8 !important;
        }
    }
}

:global {
    .exec-detail-drawer {
        .ant-drawer-header {
            border-color: transparent !important;
        }
    }
}
