.saSourceTreeContainer{
    width: 100%;
    display: flex;
    .side-bar-tree {
        width:280px;
        padding: 16px 8px 0 8px;
        height: 464px;
    }
}

.right{
    padding: 16px 20px 20px 20px;
    flex: 1;
    border-left: 1px solid #E9EAEC;
    .flex-justify-content-space-between;
    flex-direction: column;

    .form-footer {
        .flex-justify-content-flex-end;
    }
}
