.detail-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .data-container {
        margin: 16px 0;

        .title {
            font-size: 16px;
            font-weight: 600;
            color: #1E2A3D;
            line-height: 24px;
        }

        .detail-item {
            .flex-justify-content-flex-start;
            .flex-align-item-center;
            line-height: 30px;

            > .detail-label {
                color: #878C96;
                min-width: 80px;
            }

            > .detail-value {
                color: #1E2A3D;
            }
        }
    }

    .footer {
        .flex-justify-content-flex-end;
    }
}

