.agent-update-container {

    .strategy-radio-tooltip {
        > span {
            display: flex;
            align-items: center;

            svg {
                margin-left: 5px;
                width: 16px !important;
            }
        }
    }

    .group-container {
        .group-button-container;
    }
}
