.container {
    width: 100%;
}
.root,
.level1,
.level2,
.level3 {
    margin: 20px 0;
}

.level1 {
    margin-left: 24px;
}

.level2 {
    margin-left: 48px;
}

.level3 {
    margin-left: 72px;
}

.node-skeleton {
    width: 100%;
    display: flex;
}

.tag-loading {
    :global {
        .ant-skeleton-button {
          margin-left: 5px;
        }
      }
}
.add-loading{
    margin-left:auto;
}