.log-item {
    height: 100%;
    width: 100%;
    background-color: #1E2A3D;

    > .list-container {
        overflow: auto;

        > .inner-list {
            width: 100%;
        }
    }
}

:global(.language-text) {
    white-space: pre-wrap !important;
}
