.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.left-icon {
  display: flex !important;
  align-items: center;
  :global {
    .ant-skeleton-button {
      margin-right: 5px;
    }
  }
}
.right-icon {
  display: flex !important;
  align-items: center;
  :global {
    .ant-skeleton-button {
      margin-left: 5px;
    }
  }
}
